<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name=" Automation Suite" parallel="tests" thread-count="3">
    <listeners>
        <listener class-name="Listners.WebDriverListener"></listener>
    </listeners>
    <!--LOGIN COMBINATION TEST-->
    <test name="LOGIN (Combinations) TEST" thread-count="3" verbose="3" parallel="methods">
        <parameter name="browserName" value="chrome"/>
        <classes>
            <class name="Tests.AllTest">
                <methods>
                    <exclude name="testWithValidCredentials"/>
                    <exclude name="testToVerifyQuickLaunchMenu"/>
                    <include name="testToVerifyIfEmployeeIsAddedOrNot"/>
                </methods>
            </class>

        </classes>
    </test>
</suite>
